extends layout

block content

    h3= title
    
    form#form_add_student(name="mostrarFran", method="post",
    action="/mostrarFran")
        span Nombre
        span &nbsp;
        input#input(type="text", placeholder="nombre", name="nombrep")
        br
        br
        button#submit_student(type="submit") submit