extends layout

block content

    h3= title
    
    form#form_add_student(name="mostrarDia", method="post",
    action="/mostrarDia")
        span Primer a単o
        span &nbsp;
        input#input(type="text", placeholder="a単o 1", name="value1")
        br
        br
        span Segundo a単o
        span &nbsp;
        input#input(type="text", placeholder="a単o 2", name="value2")
        br
        br
        button#submit_student(type="submit") submit