extends layout

block content

    form#Home(name="", method="get",action="/")
        button#submit_home(type="submit") Home
    br
    br

    h1= title
    form#form_add_student(name="addPeli", method="post",
    action="/addPeli")
        span Nombre
        span &nbsp;
        input#input(type="text", placeholder="nombre", name="nombre")
        br
        br
        span Género
        span &nbsp;
        input#input(type="text", placeholder="genero", name="genero")
        br
        br
        span Director
        span &nbsp;
        input#input(type="text", placeholder="director", name="director")
        br
        br
        span Franquicia
        span &nbsp;
        input#input(type="text", placeholder="franquicia", name="franquicia")
        br
        br
        span País
        span &nbsp;
        input#input(type="text", placeholder="pais", name="pais")
        br
        br
        span Año
        span &nbsp;
        input#input(type="text", placeholder="año", name="year")
        br
        br
        span Duración
        span &nbsp;
        input#input(type="text", placeholder="duracion", name="duracion")
        br
        br
        span Actores
        span &nbsp;
        input#input(type="text", placeholder="actores", name="actores")
        br
        br
        button#submit_student(type="submit") submit